<p id="notice"><%= notice %></p>

<h1>Category Posts</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_posts.each do |category_post| %>
      <tr>
        <td><%= category_post.category %></td>
        <td><%= category_post.post %></td>
        <td><%= link_to 'Show', category_post %></td>
        <td><%= link_to 'Edit', edit_category_post_path(category_post) %></td>
        <td><%= link_to 'Destroy', category_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Post', new_category_post_path %>
