<p id="notice"><%= notice %></p>

<h1>Admin Characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_characters.each do |admin_character| %>
      <tr>
        <td><%= admin_character.name %></td>
        <td><%= link_to 'Show', admin_character %></td>
        <td><%= link_to 'Edit', edit_admin_character_path(admin_character) %></td>
        <td><%= link_to 'Destroy', admin_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Character', new_admin_character_path %>
